.widget-model-viewer {
    background-color: #C0C0C0;
    background-image: url(ThreeModelViewer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px 60px;
}